<div class="container-fluid">
  <img [src]="srcImageBack" alt="Immagine reale della pista" class="img-fluid img-back">
  <div class="opaque-filter"></div>
  <div class="card text-bg-dark text-center div-card">
    <img [src]="srcImageFront" alt="Schema del tracciato" class="img-front">
    <div class="card-body c_body">
      <h3 class="card-title" >{{title | uppercase}}</h3>
      <h4 class="card-text" style="color: darkred">{{subtitle}}</h4>
      <a href="#" class="btn btn-primary">Mostra</a>
    </div>

  </div>

</div>
