.container-fluid{
  /*border-color: blue;
  border-style: solid;
  border-width: medium;*/
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}
.img-back{
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.img-front{;
  height: 22vh;
}
.img-front:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.opaque-filter {
 /* border-style: solid;
  border-color: black;
  border-width: medium;*/
  height: 80%;
  width: 100%;
  position: absolute;
  background: black;
  opacity: 0.7;
}
.div-card{
  position: absolute;
  height: 50vh;
  width: 40vh;
}

.btn{
  background-color: darkred; /* Colore di sfondo giallo */
  color: white; /* Testo bianco */
  border: none; /* Nessun bordo */
  padding: 10px 20px; /* Padding per spaziatura */
  border-radius: 5px; /* Bordo arrotondato */
  cursor: pointer; /* Cambia il cursore al passaggio */
  transition: background-color 0.3s ease; /* Transizione al cambiamento di colore di sfondo */
  font-weight: bold;
  font-size: medium;
}

.btn:hover {
  background-color: gold;
}

.delete{
  border-style: solid;
  border-color: red;
  width: 2vh;
  height: 2vh;
}

.alert{
  background-color: black;
  opacity: 0.7;
  max-width:40vh;
  position: absolute;
  margin-top: 2vh;
  margin-left: 2vh;
  justify-content: center;
  align-items: center;
}
.alert-info{
  color: #eeeeee;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
