<div  *ngIf="showAlert" class="alert container-fluid ">
  <div class="div-alert-1" *ngIf="!showDigit">
    <div class="row r-alert">
      <h2>Sei sicuro? Tutti i tuoi record andranno persi!</h2>
    </div>
    <div class="row r-alert">
      <div class="col c-bnt-alert">
        <button type="button" class="btn" id="confirm" (click)="displayDigit()">Conferma</button>
      </div>
      <div class="col c-bnt-alert">
        <button type="button" class="btn" id="abort" (click)="showAlert = false">Annulla</button>
      </div>
    </div>
  </div>
  <div *ngIf="showDigit" class="digit-alert">
    <div class="row">
      <h2>Digita il tuo username</h2>
    </div>
    <div class="row r-digit-input">
      <input type="text" class="form-control" [(ngModel)]="deleteDigit" (input)="onDeleteDigitChange()">
    </div>
    <div class="row r-alert">
      <div class="col c-bnt-alert">
        <button type="button" class="btn" [disabled]="isBtnConfirmDisabled"  (click)="deleteUser()">Conferma</button>
      </div>
      <div class="col c-bnt-alert">
        <button type="button" class="btn" (click)="abortDelete()" >Annulla</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid c-body">
  <div class="row r-btn r-btn-1">
    <div class="col c-btn" *ngIf = "modify">
      <button type="button"  class="btn" [disabled]="isSaveDisabled()" (click)="saveData()"> Salva </button>
    </div>
    <div class="col c-btn" *ngIf = "modify">
      <button type="button"  class="btn"  (click)="modify=!modify">Annulla</button>
    </div>
    <div class="col c-btn">
      <button type="button" *ngIf = "!modify" class="btn" (click)="modifyData()" [disabled]="showAlert"> Modifica</button>
    </div>
  </div>
  <div class="row r-btn">
    <div class="col c-btn c-delete" *ngIf = "modify">
      <button type="button"  class="btn"  (click)="delete()">Elimina</button>
    </div>
  </div>
  <div class="row">
    <div class="col c-info">
      <div class="container info">
        <div class="row r-form">
          <div class="col col-form">
            <label for="name_label" class="form-label">Nome</label>
            <input type="text" class="form-control"  id="name_label" [ngClass]="isValidName"
                   placeholder="Username"  [(ngModel)]="name" [value]="name" [disabled]="!modify"
            (input)="onNameChange()">
          </div>
        </div>
        <div class="row r-form">
          <div class="col col-form">
            <label for="lastname_label" class="form-label">Cognome</label>
            <input type="text" class="form-control"  id="lastname_label" [ngClass]="isValidLastname"
                   placeholder="Cognome"   [(ngModel)]="lastname" [value]="lastname" [disabled]="!modify"
                (input)="onLastNameChange()">
          </div>
        </div>
        <div class="row- r-form">
          <div class="col col-form">
            <label for="mail_label" class="form-label">Email</label>
            <input type="text" class="form-control"  id="mail_label" [ngClass]="isValidEmail"
                   placeholder="Email"   [(ngModel)]="email" [value]="email"  [disabled]="!modify"
                   (input)="onEmailChange()">
          </div>
        </div>
        <div class="row r-form">
          <div class="col col-forme col-psw">
            <label for="password_label" class="form-label">Password</label>
            <input  [type]="pswType"  class="form-control"  id="password_label" [ngClass]="isValidPassword"
                   placeholder="Password"    [(ngModel)]="password"  [value]="password" [disabled]="!modify"
                    (input)="onPasswordChange()">
          </div>
          <div class="col col-icon" (click)="hideShowPasswords()">
            <svg  class="icon" cIcon name="cilLowVision" size="xl" title="hide" id="hideShow" ></svg>
          </div>
        </div>
        <div class="row r-form" *ngIf="modify">
          <div class="col col-form">
            <label for="passwordConfirm_label" class="form-label">Conferma Password</label>
            <input [type]="pswType" class="form-control"  id="passwordConfirm_label" [ngClass]="isValidPassword2"
                   placeholder="---"    [(ngModel)]="password2"  (input)="onPassword2Change()">
          </div>
      </div>
    </div>
  </div>
</div>
