.body{
}
.container-main{
  height: 100vh;
  width: 100%;
  padding-bottom: 2vh;
  position: relative;
  overflow-x: hidden;
}

.video_back {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  object-fit: cover;
  position:absolute;
}

.opaque_filter{
  position: absolute;
  z-index: 0;
  border-style: solid;
  border-color: black;
  border-width: medium;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

app-badge{
  position: absolute;
  right: 2vh;
}
.router-content{
  position: relative;
  z-index: 2;
}

/*dialog*/
h2{
  color: #eeeeee;
  font-size: 2vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.dialog{
  border-style: solid;
  border-width: medium;
  border-color: red;
  position: absolute;
  border-radius: 10px;
  padding: 1vh 2vh 1vh 2vh;
  z-index: 4;
  align-self: center;
  background-color: lightslategray;
}
.btn{
  background-color: darkred; /* Colore di sfondo giallo */
  color: white; /* Testo bianco */
  border: none; /* Nessun bordo */

  border-radius: 5px; /* Bordo arrotondato */
  cursor: pointer; /* Cambia il cursore al passaggio */
  transition: background-color 0.3s ease; /* Transizione al cambiamento di colore di sfondo */
  font-weight: bold;
  font-size: 1.5vh;

}
.btn:hover {
  background-color: gold;
}
.r-dialog{
  display: flex;
  justify-content: center;
  height: 5vh;
}
.col{
  display: flex;
  justify-content: center;
  align-items: center;
}
