h1{
  font-size: 3vh;
  font-weight: bold;

}
.card{
  width: 100vh;
}
ul{
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
li{
  margin-bottom: 1vh;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn{
  background-color: darkred;
  border-color: darkred;
  font-size: 2vh;
  max-width: 20vh;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: gold;
}
.r-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}
.tracks-list{
  max-height: 20vh;
  overflow-y: auto;
  overflow-x:hidden;
  margin-bottom: 1vh;
}
.logo{
  border-radius: 0.5vh;
}
