<div class="container-fluid">
  <div class="main">
    <div class="container div-m">
      <div class="row"><div class="col c-title"><h1>{{track}}</h1></div></div>
      <div class="row r-btn">
        <div class="col col-btn c-d ">
          <button type = button class="btn btn1" (click)="showDry()"  [ngClass]="{backRed : dry}">Dry</button>
        </div>
        <div class="col col-btn c-w ">
          <button type = button class="btn btn1" (click)="showWet()" [ngClass]="{backRed : wet}">Wet</button>
        </div>
        <div *ngIf="dry" class="col col-btn col-drop dr">
          <div class="dropdown" >
            <button class="btn btn-secondary  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ car }}
            </button>
            <ul  class="dropdown-menu dropdown-menu-dark" >
              <li *ngFor="let carDry of dryCars" (click)="setCar(carDry)"><p>{{carDry}}</p></li>
            </ul>
          </div>
        </div>
        <div *ngIf="wet" class="col col-btn col-drop wet">
          <div class="dropdown" >
            <button class="btn btn-secondary  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ car }}
            </button>
            <ul  class="dropdown-menu dropdown-menu-dark" >
              <li *ngFor="let carWet of wetCars" (click)="setCar(carWet)"><p>{{carWet}}</p></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="div-chart">
        <div [chart]="timesChart"> </div>
      </div>
    </div>
    <div class="opaque-filter"></div>
    <img [src]="trackImgSrc" alt="immagine pista" class="track-img">
    </div>
</div>
<div class="container-fluid div-analytics">
  <div class="best-div container">
    <div class="row"> <h2>Miglior giro su questo tracciato</h2></div>
    <div class="row r-car">
      <img src="assets/img/imola.jpg"  class="img-car" alt="immagine auto con il giro più veloce">
    </div>
    <div class="row r-best">
      <div class="col">
        <h3>{{bestLap}}</h3>
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col"><h2>Tempo medio al giro</h2></div>
  </div>
  <div class="row">
    <div class="col"><h3>{{avgLap}}</h3></div>
  </div>
  <div class="row">
    <div class="col"><h2>Numero di giri registrati</h2></div>
  </div>
  <div class="row">
    <div class="col"><h3>{{totLaps}}</h3></div>
  </div>
  <div class="row">
    <div class="col"><h2>Tempo medio totale</h2></div>
  </div>
  <div class="row">
    <div class="col"><h3>{{avgAllLaps}}</h3></div>
  </div>
  <div class="row">
    <div class="col"><h2>Numero di giri totali su questo tracciat</h2></div>
  </div>
  <div class="row">
    <div class="col"><h3>{{totAllLaps}}</h3></div>
  </div>

</div>



