<div class="container c-body">
  <div class="row r-front">
    <div class="col c-f-l">
        <app-suspension-set [title]="'ANTERIORE SX'"></app-suspension-set>
    </div>
    <div class="col c-f-r">
      <app-suspension-set [title]="'ANTERIORE DX'"></app-suspension-set>
    </div>
  </div>
  <div class="row r-back">
    <div class="col c-b-l">
      <app-suspension-set [title]="'POSTERIORE SX'"></app-suspension-set>
    </div>
    <div class="col c-b-r">
      <app-suspension-set [title]="'POSTERIORE DX'"> </app-suspension-set>
    </div>
  </div>
</div>
