.container-fluid{
  /*border-color: red;
  border-width: thick;
  border-style: solid;*/
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url("/assets/img/wlp2.jpg");
  background-size: cover;
  z-index: -1;
  padding: 0;
}

.div_signup{
  z-index: 1;
  border-color: darkred;
  border-width: thick;
  border-style: solid;
  margin-top: 15vh;
  max-width: 110vh;
  border-radius: 20px;
  padding: 5vh;
  background-color: black;
  opacity: 0.9
}

.row{
  /*border-color: blue;
  border-width: thin;
  border-style: solid;*/
  display: flex;
  align-items: center;
}

.c{
  /*border-color: purple;
  border-width: thick;
  border-style: solid;*/
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c2{

  padding: 0;
  height: 15vh;
}

.icon{
  object-fit: cover;
  width: 100%;
  height:100%;
}

.opaque_filter_back{
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
}


.r2{
  /*border-color: yellow;
  border-width: medium;
  border-style: solid;*/
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.c3{
  /* border-color: yellow;
    border-width: medium;
    border-style: solid;*/
  padding: 0;
}
.c4{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:2vh;
}
.form-label{
  color: white;
  font-size: 2vh;
}


.btn{
  background-color: darkred; /* Colore di sfondo giallo */
  color: white; /* Testo bianco */
  border: none; /* Nessun bordo */
  padding: 10px 20px; /* Padding per spaziatura */
  border-radius: 5px; /* Bordo arrotondato */
  cursor: pointer; /* Cambia il cursore al passaggio */
  transition: background-color 0.3s ease; /* Transizione al cambiamento di colore di sfondo */
  font-weight: bold;
  font-size: 2.5vh;

}
.btn:hover {
  background-color: gold;
}
app-alert{
  z-index: 2;
}
h2{
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 2vh;
  top:0;
}


app-header {

  top: 0;
  width: 100%;
  z-index: 9999; /* Assicura che l'header sia sopra gli altri elementi sulla pagina */
}

.icon{
  width: 4vh;
}
.col-icon{
  margin-top: 3vh;
  max-width: 4vh;
  padding: 0;
}

.icon{
  width: 4vh;
  transition: 0.5s ease;
  color: grey;
}

.col-icon:hover{
  cursor: pointer;
}
.col-icon:hover  .icon{
  transform: scale(1.2);
}
