body{
  padding: 0;
}
.div_main{
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;

}

.video_back {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: -1;
  object-fit: cover;
  position:absolute;
}
.div{
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30vh;
}

.col{
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color:white;
  font-size: 7vh;
  line-height: 8vh;
}
h2{
  color:red;
  font-size: 4vh;
  line-height: 5vh;
}

.opaque_filter{
  position: absolute;
  z-index: 0;
  border-style: solid;
  border-color: black;
  border-width: medium;
  background-color: black;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}



