.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  opacity: 0.6;
  border-radius: 2vh;
  max-width: 40vh;
}

.btn{
  background-color: darkred; /* Colore di sfondo giallo */
  color: white; /* Testo bianco */
  border: none; /* Nessun bordo */

  border-radius: 5px; /* Bordo arrotondato */
  cursor: pointer; /* Cambia il cursore al passaggio */
  transition: background-color 0.3s ease; /* Transizione al cambiamento di colore di sfondo */
  font-weight: bold;
  font-size: 1.5vh;

}
.btn:hover {
  background-color: gold;
}
.r-dialog{
  display: flex;
  justify-content: center;
  height: 5vh;
}
.col{
  display: flex;
  justify-content: center;
  align-items: center;
}
h2{
  color: white;
}
