.container-fluid{
  border-color: lightslategray;
  border-width: medium;
  border-style: solid;
  border-radius: 10px;
  padding-left: 2vh;
  padding-right: 2vh;
  background-color: black;
  opacity: 0.8;

}
.row-body{
  padding: 0;
  justify-content: center;
  align-items: center;
}
.r-records{
  display: flex;
  /*align-items: center;*/
  padding: 0;

}
.c-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}

.c-records{
  flex-grow: 1;
}
.c1{
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: lightslategray;
  border-width: medium;
  border-style: solid;
}
h1{
  color: red;
  font-size: 4vh;
}
h2{
  color: white;
  font-size: 3vh;
}
.r-line{
  background-color: darkred;
  height: 0.2vh;
  width: 90%;
  margin-bottom: 2vh;
}
.separator{
  background-color: darkred;
  width: 0.5vh;
  height: 100%;
}
.r-type{
  justify-content: center;
  align-items:center;
  display: flex;
}

.icon{
  height: 3vh;
  color: lightslategray;
  transition: 1s ease;
  margin-bottom: 1vh;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  margin-bottom: 1vh;
  padding:0;

}

.line{
  background-color: lightslategray;
  height: 0.2vh;
  width: 30vh;
}
.r-title{
  display: flex;
  justify-content: center;
  align-items: center;
}


.graphIcon{
  margin-left: 2vh;
  color: #eeeeee;
}
.c-t:hover .graphIcons{
  cursor: pointer;
  color: yellow;
}
