<div class="container-fluid">
  <div class="row">
    <div class="col c-title">
      <h1>{{trackName}}</h1>
    </div>
  </div>
  <div class="row r-svg">
    <div class="col c-title">
      <div class="toggle" (click)="rotateIcon()" >
        <svg cIcon name="cilArrowThickFromTop" size="xl"  class ="icon" id="{{svg_id}}"  ></svg>
      </div>
    </div>
  </div>
  <div class="row row-body" *ngIf="toggle">
    <div class="row r-line"></div>
    <div class="row r-type">
      <div class="col col-1">
        <div class="div separator"></div>
      </div>
    </div>
    <div class="row r-records">
      <div class="col c-records">
        <ul *ngFor="let car of dryCars">
          <div class="col c1 c-d">
            <h2>Dry</h2>
          </div>
          <li class="li_cars">
            <app-car-card-record [car]="car" [records]="dryRecords"  [track]="trackName"></app-car-card-record>
          </li>
        </ul>
      </div>
      <div class="col c-records">
        <ul *ngFor="let car of wetCars">
          <div class="col c1 c-w">
            <h2>Wet</h2>
          </div>
          <li>
            <app-car-card-record  [car]="car" [records]="wetRecords" [track]="trackName"></app-car-card-record>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
