.container-fluid{
  height: 100vh;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;

}
.car-img{
  z-index: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
}
.opaque-filter{
  z-index:1;
  background-color: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  opacity: 0.6;
}
.main{
  border-color: red;
  border-style: solid;
  border-width: medium;
  height: 100vh;
  z-index: 4;
}
.title{
  color:white;
  font-size: 4vh;
  border-style: solid;
  border-width: medium;
  border-color: grey;
  border-radius: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2vh;
}
.input-file{
  color: #eeeeee;
  background-color: grey;
  padding: 1vh;
  border-radius: 1vh;
}

.btn{
  background-color: grey; /* Colore di sfondo giallo */
  color: white;
  border: none;
  padding:1vh 2vh 1vh 2vh;
  border-radius: 5px; /* Bordo arrotondato */
  cursor: pointer; /* Cambia il cursore al passaggio */ /* Transizione al cambiamento di colore di sfondo */
  font-weight: bold;
  transition: 0.5s ease;
}
.btn1{
  font-size: 2.5vh;
}
