<nav class="navbar navbar-expand-lg"  data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand">RACELOG</a>
    <button class="navbar-toggler" type="button" [ngClass]="{'backBlack': darkNavBar}"
            data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup" >
      <div class="navbar-nav  justify-content-center" > <!-- Aggiunta della classe justify-content-center -->
        <a class="nav-link "  routerLink=''
           [ngClass]="{'font-white': !darkNavBar, 'font-black':darkNavBar}">Home</a>
        <a class="nav-link" [routerLink]="['/tracks']"
           [ngClass]="{'font-white': !darkNavBar, 'font-black':darkNavBar}">Tracks</a>
        <a class="nav-link" [routerLink]="['/cars']"
           [ngClass]="{'font-white': !darkNavBar, 'font-black':darkNavBar}">Cars</a>
        <a class="nav-link" [routerLink]="['/tracks/load']" [queryParams]="{insert:false}"
           [ngClass]="{'font-white': !darkNavBar, 'font-black':darkNavBar}">Upload tracks</a>
        <a class="nav-link" [routerLink]="['/cars/load']" [queryParams]="{insert:false}"
           [ngClass]="{'font-white': !darkNavBar, 'font-black':darkNavBar}">Upload cars</a>
      </div>
      <div class="personal-navbar" *ngIf="isLogged">
        <a  class="a-personal nav-link" [routerLink]="['/login/:id/profile']"
            [ngClass]="{'font-white': !darkNavBar, 'font-black':darkNavBar}">My profile</a>
        <a  class="a-personal nav-link" [routerLink]="['/login/:id/records']" style="color: red">My records</a>
        <a  class="a-personal nav-link" [routerLink]="['/login/:id/global']"
            [ngClass]="{'font-white': !darkNavBar, 'font-black':darkNavBar}">Global</a>
        <a  class="a-personal nav-link" (click)="logOut()">Logout</a>
      </div>
      <div class="personal-navbar" *ngIf="!isLogged">
        <a class="a-personal  nav-link a-log" [routerLink]="['/login']" *ngIf="!isLogged"
           [ngClass]="{'font-white': !darkNavBar, 'font-black':darkNavBar}"><p class="a-log">Login</p></a>
        <a class="a-personal nav-link" [routerLink]="['/signup']" *ngIf="!isLogged"
           [ngClass]="{'font-white': !darkNavBar, 'font-black':darkNavBar}">Signup</a>
      </div>
    </div>
  </div>
</nav>
