<div class="container-fluid">
  <div class="row r-alert">
    <app-alert class="alert" *ngIf="showAlert" [message]="message" [alertType]="alertType"
               (hideAlert)="onHideChange($event)" ></app-alert>
  </div>
  <div class="row r-icon">
    <div class="div_icon" (click)="showDiv('add')">
      <svg cIcon name="cilPlus" size="xl" title="add" id="addIcon"></svg>
    </div>
    <div class="div_icon" (click)="showDiv('delete')">
    <svg cIcon name="cilX" size="xl" title="add" id="deleteIcon"></svg>
  </div>
  </div>
  <div class="row r-form" *ngIf="showAddDiv">
    <div class="col c-form">
      <div class="div-form">
        <div class="row"><h2>Inserisci un nuovo tempo</h2></div>
        <div class="row add-row">
          <div class="col c-input c1">
            <app-card-index [type]="'t'"  (elId)="setCarTrack($event, 't')" [isDisabled]="false"></app-card-index>
          </div>
          <div class="col c-input c2">
            <app-card-index [type]="'c'" (elId)="setCarTrack($event, 'c')" [isDisabled]="false"></app-card-index>
          </div>
        </div>
        <div class="row add-row">
          <div class="col c-input c3">
            <input type="text" class="form-control"  id="timeInput" aria-label="Dollar amount (with dot and two decimal places)" placeholder="01.01.000"
                   [(ngModel)]="time" (input)="onTimeChange()" [ngClass]="isValidTime">
          </div>
        </div>
        <div class="row">
          <div class="col">
            <mat-slide-toggle  [color]="'red'" class="slide" [(ngModel)]="type">
              <p *ngIf="type">Dry</p>
              <p *ngIf="!type">Wet</p>
            </mat-slide-toggle>
          </div>
        </div>
        <div class="row add-row">
          <div class="col c-icon ic1">
            <button class="btn" id="btn_insert"  type="button" [disabled]="isBtnDisabled()"
             (click)="insertRecord()">Inserisci</button>
          </div>
          <div class="col c-icon ic2">
            <div class="div_icon div_icon-2" (click)="closeDiv()">
              <svg cIcon name="cilX" size="xl" title="add" id="undoIcon" ></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row r-form" *ngIf="showDeleteDiv">
    <div class="col c-form">
      <div class="div-form">
        <div class="row"><h2>Elimina un tempo registrato</h2></div>
        <div class="row">
          <div class="col">
            <mat-slide-toggle  [color]="'red'" class="slide" [(ngModel)]="typeDelete">
              <p *ngIf="typeDelete">Dry</p>
              <p *ngIf="!typeDelete">Wet</p>
            </mat-slide-toggle>
          </div>
        </div>
        <div class="row add-row">
          <div class="col c-input">
            <select *ngIf="typeDelete" class="form-select select" id="Dry" [(ngModel)]="trackDelete" (change)="setDeleteTrackCar('t')">
              <option class="option" selected><p>Seleziona tracciato dry</p>
              </option>
              <option *ngFor="let dryTrack of trackDry">{{dryTrack}}</option>
            </select>
            <select *ngIf="!typeDelete" class="form-select select" id="inputTrackWet" [(ngModel)]="trackDelete" (change)="setDeleteTrackCar('t')">
              <option class="option" selected><p>Seleziona tracciato wet</p>
              </option>
              <option *ngFor="let wetTrack of trackWet">{{wetTrack}}</option>
            </select>
          </div>
          <div class="col c-input c1">
            <select *ngIf="typeDelete" [(ngModel)]="carDelete" (change)="setDeleteTrackCar('c')" [disabled]="carDeleteSelectorDisabled" class="form-select select" id="inputCar">
              <option class="option" selected>
                <p> Seleziona vettura...</p>
              </option>
              <option *ngFor="let car of dryCars">{{car}}</option>
            </select>
            <select *ngIf="!typeDelete" [(ngModel)]="carDelete"  (change)="setDeleteTrackCar('c')"[disabled]="carDeleteSelectorDisabled" class="form-select select" id="inputCar">
              <option class="option" selected>
                <p> Seleziona vettura...</p>
              </option>
              <option *ngFor="let car of wetCars">{{car}}</option>
            </select>
          </div>
        </div>
        <div class="row add-row">
          <div class="col c-input c1">
            <select *ngIf="typeDelete" class="form-select select" id="inputTimeDeleteDry" [(ngModel)]="timeDelete"  [disabled]="timeDeleteDisabled">
              <option class="option"selected>
                <p >Seleziona il tempo da eliminare ...</p>
              </option>
              <option   *ngFor="let time of timeDryList">{{time}}</option>
            </select>
            <select *ngIf ="!typeDelete" class="form-select select" id="inputTimeDeleteWet" [(ngModel)]="timeDelete"  [disabled]="timeDeleteDisabled">
              <option class="option"selected>
                <p >Seleziona il tempo da eliminare ...</p>
              </option>
              <option   *ngFor="let time of timeWetList">{{time}}</option>
            </select>
          </div>
        </div>
        <div class="row add-row" >
          <div class="col c-icon ic1">
            <button class="btn" id="btn_delete" type="button" [disabled]="isBtnDeleteDisabled"
                    (click)="deletRecord()" [(ngModel)]="timeDelete">Elimina
            </button>
          </div>
          <div class="col c-icon ic2">
            <div class="div_icon div_icon-2" (click)="closeDiv()">
              <svg cIcon name="cilX" size="xl" title="add" id="undoIcon"></svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <ul class="scrollable-list">
        <li class="li" *ngFor="let track of finalTrackList;let i= index">
          <app-card-record [trackName]="track" [dry]="dryRecords"  [wet]="wetRecords" [id]="i.toString()"></app-card-record>
        </li>
      </ul>
    </div>
  </div>

</div>
